body {
  background: #fff;
}

.mainScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.loader {
  width: 120px;
  height: 120px;
  background: center/100% url('https://fs-thb02.getcourse.ru/fileservice/file/thumbnail/h/b6b631a7ace1a62589844bff6dc25395.png/s/f1200x/a/76255/sc/200') no-repeat;
  border-radius: 50%;
  animation: rotation 10s infinite linear;
  z-index: 99999;
}

.notShow {
  opacity: 0;
  transition: .5s all ease-in-out;
  z-index: -99;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.page-full-block:before {
  content: 'MATÜ';
  position: fixed;
  bottom: 0;
  left: 15%;
  font-size: 300px;
  font-weight: 900;
  color: #00000008;
  transform: rotate(355deg);
}

.gc-account-leftbar a.toggle-link.without-icon img {
  display: none;
}

.arrow_hide,
.arrow_show {
  position: fixed;
  top: 15px;
  width: 30px;
  height: 30px;
  border: 2px solid #e7ca97;
  border-radius: 30px;
  z-index: 120;
  transition: 1s all ease-in-out;
}

.arrow_hide {
  left: 160px;
  background: 1px 1px/24px url(https://static.thenounproject.com/png/1434370-200.png) no-repeat #fff;
}

.arrow_show {
  left: 10px;
  top: 115px;
  background: -1px -2px/30px url(https://static.thenounproject.com/png/1434370-200.png) no-repeat #e7ca97;
  opacity: 0;
  filter: blur(10px);
}

.logo.gc-account-logo {
  width: 100px;
  height: 100px;
  background: 0 0/100px url('https://fs-thb02.getcourse.ru/fileservice/file/thumbnail/h/b6b631a7ace1a62589844bff6dc25395.png/s/f1200x/a/76255/sc/200') no-repeat;
  animation: rotation 20s infinite linear;
}

.logo-link img {
  display: none !important;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(-360deg)
  }
}

.stream-table {
  margin-left: 0 !important;
  position: relative;
}

.stream-table tr td {
  padding-left: 0 !important;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: inherit !important;
}

.stream-table tr td:hover {
  background: transparent !important;
}

.gc-account-leftbar {
  background: transparent !important;
  width: auto;
  z-index: 100;
  transition: 2s all ease-in-out;
}

.gc-account-leftbar .gc-account-user-menu li a {
  width: inherit;
  height: 55px !important;
}

.gc-account-leftbar .gc-account-user-menu li a {
  background: #0000;
}

.gc-account-leftbar .gc-account-user-menu li a:hover {
  background-color: #0000;
}

.gc-account-leftbar .gc-account-user-menu li.active a,
.gc-account-leftbar .gc-account-user-menu li.selected a {
  background: #0000;
}

.gc-account-leftbar li:nth-child(n+2) a img {
  opacity: 0;
  width: 100%;
  left: 0;
  top: 0;
}

.gc-account-leftbar .notify-count {
  position: absolute;
  font-weight: 100;
  font-size: 12px !important;
  line-height: 30px !important;
  background: #d2322d;
  width: 25px;
  height: 30px;
  text-align: center;
  padding: 0 !important;
  color: #fff;
  border-radius: 0 10px 10px 0;
  bottom: 12px;
  right: -26px !important;
  z-index: 1;
}

.gc-account-user-submenu-bar .gc-account-user-submenu li .notify-count {
  width: 25px;
  height: 25px;
  top: 6px;
  left: 3px;
  line-height: 24px !important;
  border-radius: 25px;
}

.menu-item.menu-item-notifications_button_small span.notify-count {
  top: 13px !important;
}

.gc-account-leftbar a img {
  border-radius: 35px;
  position: absolute;
  left: 100px;
  border: 3px solid #e7c892;
  top: 5px;
  height: 55px;
  width: 55px;
}

span.user-image img {
  margin-bottom: 10px;
  position: relative !important;
  left: 0 !important;
  border-radius: 35px;
  border: 3px solid #e7c892;
  height: 55px;
  width: 55px;
}

.gc-account-leftbar .gc-account-user-menu li:nth-child(1) a {
  opacity: 1 !important;
  background: transparent;
  position: relative;
  text-align: left;
  border-radius: 15px;
  overflow: hidden;
}

.gc-main-content.with-left-menu {
  margin-left: 200px;
  transition: 1s all ease-in-out;
}

.gc-account-leftbar .gc-account-user-menu {
  padding-left: 20px;
  padding-right: 30px;
  margin: 0;
  background: #f9f0e0;
  border-radius: 0 30px 30px 0;
  width: fit-content;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px #cbcbcb;
}

.gc-account-leftbar .gc-account-user-menu li {
  width: 150px;
  height: 55px;
  border-radius: 15px;
  background: #ffffff;
  padding: 0;
  margin: 5px 0;
  list-style: none;
  border-bottom: none;
  text-align: center;
  position: relative;
  box-shadow: 0px 4px 5px #00000017;
  transition: .2s all ease-in-out;
}

.gc-account-user-submenu-bar .gc-account-user-submenu li {
  margin: 0 auto;
  padding: 0;
  border-radius: 15px;
  background: #ffffff;
  width: 90%;
  list-style: none;
  border-bottom: none;
  text-align: center;
  position: relative;
  box-shadow: 0px 4px 5px #00000017;
  transition: .2s all ease-in-out;
}

li.menu-item:hover,
.gc-account-user-submenu-bar .gc-account-user-submenu li:hover {
  background: #ffecdd;
  box-shadow: 0px 4px 5px #00000040;
}

li.menu-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 55px;
}

li.menu-item-chatium_qr {
  display: none;
}

li.menu-item.menu-item-profile:before {
  content: 'ПРОФИЛЬ';
  padding-left: 10px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

li.menu-item.menu-item-notifications_button_small:before {
  content: 'УВЕДОМЛЕНИЯ';
  padding-left: 10px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px !important;
}

li.menu-item.menu-item-notifications_button_small:after {
  content: '';
  position: absolute;
  right: 3px;
  top: 14px;
  width: 37px;
  height: 25px;
  background: 6px 0px/27px url(https://fs.getcourse.ru/fileservice/file/download/a/76255/sc/206/h/d5db3147e1f626a8e676568b3b48bdd5.png) no-repeat;
  opacity: .5;
}

li.menu-item.menu-item-cms:before {
  content: 'САЙТ';
  padding-left: 10px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

li.menu-item.menu-item-cms:after {
  content: '';
  position: absolute;
  right: 3px;
  top: 14px;
  width: 37px;
  height: 25px;
  background: 6px 0px/25px url(https://fs.getcourse.ru/fileservice/file/download/a/76255/sc/331/h/6f34df420cc7d7a5f12bb4fa77144dcd.png) no-repeat;
  opacity: .5;
}

li.menu-item.menu-item-teach:before {
  content: 'ОБУЧЕНИЕ';
  padding-left: 10px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

li.menu-item.menu-item-teach:after {
  content: '';
  position: absolute;
  right: 3px;
  top: 14px;
  width: 37px;
  height: 25px;
  background: 5px 0px/28px url(https://fs.getcourse.ru/fileservice/file/download/a/76255/sc/216/h/f9183cee76372fc8b0c88207c78b49be.png) no-repeat;
  opacity: .5;
}

li.menu-item.menu-item-user:before {
  content: 'ПОЛЬЗОВАТЕЛИ';
  padding-left: 10px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

li.menu-item.menu-item-user:after {
  content: '';
  position: absolute;
  right: 3px;
  top: 14px;
  width: 37px;
  height: 25px;
  background: 5px 0px/27px url(https://fs.getcourse.ru/fileservice/file/download/a/76255/sc/136/h/b4781148cad8204304f1fc8b15e3f4c3.png) no-repeat;
  opacity: .5;
}

li.menu-item.menu-item-tasks:before {
  content: 'ЗАДАЧИ';
  padding-left: 10px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

li.menu-item.menu-item-tasks:after {
  content: '';
  position: absolute;
  right: 3px;
  top: 14px;
  width: 37px;
  height: 25px;
  background: 4px 0px/27px url(https://fs.getcourse.ru/fileservice/file/download/a/76255/sc/44/h/74f80812ec0900718f6f6c7f11ba0361.png) no-repeat;
  opacity: .5;
}

li.menu-item.menu-item-notifications:before {
  content: 'СООБЩЕНИЯ';
  padding-left: 10px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

li.menu-item.menu-item-notifications:after {
  content: '';
  position: absolute;
  right: 3px;
  top: 14px;
  width: 37px;
  height: 25px;
  background: 4px 0px/27px url(https://fs.getcourse.ru/fileservice/file/download/a/76255/sc/100/h/e1706e16d6ef9002f66b5124cde72493.png) no-repeat;
  opacity: .5;
}

li.menu-item.menu-item-sales:before {
  content: 'ПОКУПКИ';
  padding-left: 10px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

li.menu-item.menu-item-sales:after {
  content: '';
  position: absolute;
  right: 3px;
  top: 14px;
  width: 37px;
  height: 25px;
  background: 3px 0px/27px url(https://fs.getcourse.ru/fileservice/file/download/a/76255/sc/275/h/6bc91febc101aac432d9ec56f209f403.png) no-repeat;
  opacity: .5;
}

li.menu-item.menu-item-chatium:before {
  content: 'ПРИЛОЖЕНИЕ';
  padding-left: 10px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

li.menu-item.menu-item-chatium:after {
  content: '';
  position: absolute;
  right: 3px;
  top: 14px;
  width: 37px;
  height: 25px;
  background: 4px 0px/24px url(https://fs.getcourse.ru/fileservice/file/download/a/76255/sc/69/h/b55c00cc0d05b4444a60972c4a1309c4.png) no-repeat;
  opacity: .5;
}

.gc-account-leftbar .sub-icon {
  display: none !important;
}

.gc-account-leftbar .gc-account-user-submenu-bar div.user-balance {
  display: none;
}

.gc-account-user-submenu-bar .gc-account-user-submenu li a {
  margin-bottom: 15px;
  padding: 10px !important;
  color: #333 !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  border: none !important;
  cursor: pointer;
}

.gc-account-user-submenu-bar .gc-account-user-submenu li a:hover {
  background: transparent;
}

.gc-account-leftbar .gc-account-user-submenu-bar div:nth-child(1) {
  opacity: 0;
}

.gc-account-leftbar .gc-account-user-submenu-bar {
  left: 200px;
  border-radius: 0 30px 30px 0;
}

.lesson-list {
  margin: 5px auto !important;
  max-width: 800px;
  background: #fff0 !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none !important;
  counter-reset: item;
  list-style-type: none !important;
}

.lesson-list li {
  margin: 20px auto;
  padding: 35px 24px;
  width: 170px;
  height: 110px;
  position: relative;
  background: linear-gradient(135deg, #fff5de, #ffd4d4);
  border-radius: 20px !important;
  box-shadow: 0px 6px 9px #0000002e;
  transition: all .2s ease-in-out;
  overflow: hidden;
}

.lesson-list li .item-a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff0;
}

.lesson-list li .state-icon-block {
  display: none;
}

.lesson-list li .info {
  height: 100%;
  margin-left: 0 !important;
  border-left: none !important;
  background: #fff0 !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.lesson-list li table {
  min-width: 75% !important;
  width: 100% !important;
}

.lesson-list li .info .vmiddle {
  padding-right: 0 !important;
}

.lesson-list li .title {
  margin-right: 0 !important;
  padding: 5px !important;
  max-width: 500px !important;
  color: #626262 !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  line-height: 24px !important;
  text-align: center !important;
}

.lesson-list__video-watched {
  display: none !important;
}

.lesson-list .user-state-label {
  display: none !important;
}

.stream-table {
  margin-top: 40px;
  margin-left: 0;
}

.stream-table .stream-title {
  position: relative;
  top: 55px;
  max-width: 90%;
  color: #464542;
  font-family: muller;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 1.3;
}

/*.stream-table tr.no-public td:before {
  padding: 5px 15px;
  content: "НЕ АКТИВЕН";
  position: absolute;
  left: 7px;
  top: 25px;
  width: 200px;
  text-align: center;
  font-size: 18px;
  background: #f00;
  color: #fff;
  border-radius: 7px;
  transform: rotate(-1deg);
  z-index: 99;
  opacity: .5;
}*/

.stream-table tr td:hover {
  background: #0000 !important;
}

.stream-table tbody {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 800px;
}

.stream-table tr {
  margin: 20px auto;
  width: 310px;
  height: 200px;
  position: relative;
  background: linear-gradient(135deg, #fff7e5, #ffd2d2);
  border-radius: 20px;
  box-shadow: 0px 6px 9px #0000002e;
  transition: all .2s ease-in-out;
  overflow: hidden;
}

.stream-table tr:hover {
  box-shadow: 0px 7px 14px #0000003b;
}

.stream-table tr a {
  padding: 0 20px;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  border-radius: 15px;
}

.stream-table tr a div {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 100%;
  height: 25px;
  font-size: 14px !important;
  line-height: 1.2;
  color: #333;
}

.stream-table div b {
  position: absolute;
  left: 0;
  bottom: -125px;
  width: max-content;
}

table.stream-table tbody {
  counter-reset: item;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 800px;
  position: relative;
}

.stream-table tr:before {
  content: '' counter(item, decimal-leading-zero);
  counter-increment: item;
  color: #d6bbb3;
  text-align: right;
  width: 85%;
  height: 37px;
  font-size: 30px;
  font-weight: 800;
  font-family: muller;
  position: absolute;
  left: 20px;
  top: 10px;
  border-bottom: 1px solid #b1b1b1;
  z-index: 9;
}

.info td .user-state-label {
  display: none;
}

@media screen and (max-width: 499px) {
  .page-full-block:before {
    content: 'MATÜ';
    position: fixed;
    bottom: 35%;
    left: 0%;
    font-size: 19vh;
    font-weight: 900;
    color: #0000000f;
    transform: rotate(355deg);
  }
}

@media screen and (max-width: 425px) {
  .gc-account-leftbar .gc-account-user-menu {
    padding-left: 10px;
    padding-right: 10px;
  }

  .gc-account-leftbar .gc-account-user-submenu-bar {
    left: 170px;
    width: 180px;
  }

  .gc-account-user-submenu-bar .gc-account-user-submenu li {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  .gc-main-content.with-left-menu {
    margin-left: 0 !important;
  }

  .arrow_hide,
  .arrow_show {
    display: none;
  }

  .gc-page-nav-items-menu a {
    background: #faf1e0;
    color: #333;
    text-transform: uppercase;
  }

  .gc-account-leftbar .toggle-link {
    background: #faf1e0;
  }

  .gc-account-leftbar .toggle-link {
    background: 10px 5px/35px url(https://miro.medium.com/max/2400/1*ZPxaxF_SLKckPZRnJZkJjg.png) #faf1e0 no-repeat !important;
  }

  .gc-account-leftbar .gc-account-user-menu {
    border-radius: 0;
  }
}

@media screen and (max-width: 767px) {
  .lesson-list li .vmiddle {
    margin-left: 0 !important;
  }  
}

.talks-widget-button {
  color: #c39889;
  background: linear-gradient(325deg, #faf1e0, #f4e0df);
}

.talks-widget-button .conversations-counter {
  top: -16px;
  left: 30px;
  padding: 5px 0px !important;
  width: 30px;
  height: 30px;
  font-size: 14px;
}

.gc-fade-wrapper .gc-fade {
  z-index: 50 !important;
}
